.about {
	.about-img,
	.about-info {
		padding: 1rem 2rem;
		float: left;
		width: 50%;

		@media screen and (max-width: 990px) {
			width: 100%;
		}
	}

	.about-text {
		color: var(--color-grey-lighter);
	}

	.about-picture-container {
		border: 0.5rem solid var(--primary-color);
		overflow: hidden;
		background: var(--primary-color);
		max-width: 30rem;

		img {
			transition: var(--transition);

			&:hover {
				opacity: 0.5;
				transform: scale(1.2);
				object-fit: contain;
			}

			@media screen and (max-width: 550px) {
				max-width: 100%;
			}
		}
	}
}